Options +FollowSymlinks
RewriteEngine On

# prevent directory listings
Options -Indexes
IndexIgnore */*

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule . index.php